DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-lite-preview
DATABASE_URL=file:local.db
DATABASE_AUTH_TOKEN=
APP_BASE_URL=http://localhost:3000
